<div class="card col-sm-6 mx-auto mt-5" style="width: 300px">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, class: "card-img-top" %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title">
        Name: <%= @user.name %>
    </h5>
    <h6 class="card-subtitle text-muted">
        Age: <%= @user.age %>
    </h6>
    <p class="card-text">
        Email: <%= @user.email %>
    </p>
  </div>
</div>

