<div class="card">
  <div class="card-header">
    <h2>New book</h2>
  </div>
  <div class="card-body">
    <%= render 'form', book: @book %>
    <%= link_to 'Back', books_path, class: "btn btn-secondary"%>
  </div>
</div>
